.bg-container {
  background-color: #000000;
  height: auto;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.crypto-heading {
  color: #00e7ff;
  font-weight: 'Roboto';
  font-size: 44px;
  font-weight: 700;
}
